# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#RPG_Client
RPG_Client/lib/
RPG_Client/include/
RPG_Client/x64/
*.png
*.bmp
*.ttf

#Visual vcxproj
*.vcxproj
*.filters
*.user
.vs/

#MMO_Server
lua54.lib
include/